<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
        <div class="col">
          <h3><%= category.name %></h3>
          <h4><%= category.products_by_category(category.id) %> Product(s)</h4>
        </div>
    <% end %>
    <div class="col">
  </div>
  </div>
</div>